*
{
	margin:0;
	padding:0;
}

body
{
	background-image:url('../img/carrot_background.svg');
	background-size:150px 150px;
}

#menu
{
	background-color:#FFFFFF;
	width:100%;
	position:fixed;
	display:flex;
	border-bottom:2px solid #DDDDDD;
}

#menu-left
{
	width:70%;
	display:flex;
}

#logo-link
{
	color:#000000;
	text-decoration:none;
	display:flex;
	width:auto;
}

#logo-title
{
	display:flex;
	align-items:center;
	vertical-align:middle;
	font-family:"楷体";
	text-shadow:2px 2px 2px #BBBBBB;
	padding:0 10px 0 10px;
}

#logo-img
{
	width:50px;
	height:50px;
	padding:0 10px 0 0;
}

.menu-list
{
	padding:0 30px 0 30px;
	font-size:20px;
	color:#000000;
	font-family:"微软雅黑";
	font-weight:600;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	text-decoration:none;
}

.menu-list:hover,.menu-list:active
{
	background-color:#EEEEEE;
}

#menu-middle
{
	width:22%;
	display:flex;
	align-items:center;
}

#playpause
{
	padding:0 10px 0 10px;
}

#playbar
{
	width:60%;
	align-items:center;
	display:flex;
	position:relative;
}

#playbarback
{
	height:3px;
	width:100%;
	background-color:#CCCCCC;
}

#playbarnow
{
	height:3px;
	width:50%;
	position:absolute;
	background-color:#007FFF;
	background-position-x:left;
}

#playanchor
{
	height:30px;
	width:30px;
	position:absolute;
	left:-15px;
	top:-15px;
}

#menu-right
{
	width:8%;
	font-family:"Times New Roman";
	font-size:12px;
	font-weight:bold;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	margin:0 10px 0 10px;
	border-left:2px dashed #AAAAAA;
	border-right:2px dashed #AAAAAA;
}

#datetime
{
	color:#000000;
	text-decoration:none;
}

#background
{
	background-color:rgba(255,255,255,0.8);
}

#copyright
{
	background-color:#EEEEEE;
	text-align:center;
}
