*
{
	margin:0;
	padding:0;
}

#body
{
	background-image:url('../img/background.jpg');
	background-size: 100%;
	background-attachment:fixed;
}

#menu
{
	height:6.94vw;
	width:100%;
	background-color:#00BFFF;
	position:fixed;
	display:flex;
	align-items:center;
	justify-content:space-around;
	border-radius:0 0 1.35vw 1.35vw;
}

#menu_main
{
	height:100%;
	width:75%;
	display:flex;
	align-items:center;
	justify-content:space-around;
}

.menu-list
{
	padding:0 3.4vw 0 3.4vw;
	height:80%;
	margin:0.34vw 1vw 0.34vw 1vw;
	font-size:2.45vw;
	color:#FFFFFF;
	text-shadow:0.2vw 0.2vw 0.2vw #222222;
	font-family:"等线";
	font-weight:600;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	text-decoration:none;
}

#birthday_part
{
	display:flex;
	width:100%;
	justify-content:center;
	background-color:rgba(245, 245, 245, 0.8);
}

.main
{
	min-height:41.67vw;
	min-width:80%;
	padding-top:8.68vw;
	padding-bottom:1.73vw;
	display:flex;
	flex-direction:column;
}

#birthday_content
{
	display:flex;
	align-items:center;
	width:100%;
	flex-direction:column;
}

#birthday_cn
{
	text-align:center;
	width:100%;
	font-family:"华文行楷";
	font-size:4.1vw;
	text-shadow:0.34vw 0.34vw 0.34vw #BBBBBB;
	padding:2.5vh 0 2.5vh 0;
	margin:1.25vh 0 1.25vh 0;
	border-top:solid 0.34vw #9966CC;
	display:flex;
	align-items:center;
	justify-content:center;
}

#birthday_en, #birthday_fr
{
	text-align:center;
	width:100%;
	font-family:"Consolas";
	font-size:3.4vw;
	text-shadow:0.34vw 0.34vw 0.34vw #BBBBBB;
	padding:2.5vh 0 2.5vh 0;
	margin:1.25vh 0 1.25vh 0;
}

#birthday_jp
{
	text-align:center;
	width:100%;
	font-family:"楷体";
	font-size:4.1vw;
	text-shadow:0.34vw 0.34vw 0.34vw #BBBBBB;
	padding:2.5vh 0 2.5vh 0;
	margin:1.25vh 0 1.25vh 0;
	border-bottom:solid 0.34vw #9966CC;
}

#poem_part,#photo_part,#music_part,#letter_part
{
	width:100%;
	display:none;
	align-items:center;
	flex-direction:column;
}

#poem_main
{
	flex-direction:row;
}

.poem
{
	width:100%;
	height:62.5vw;
	padding:0.69vw;
	margin:1.35vw 0.69vw 1.35vw 0.69vw;
	border-style:dashed;
	border-width:0.34vw;
	border-color:#9966CC;
	border-radius:0.69vw;
	background-color:rgba(245, 245, 245, 0.8);
}

.poem_title
{
	text-align:center;
	font-family:"华文行楷";
	font-size:2.2vw;
	padding:0.555vw 0 0 0;
}

.poem_time
{
	text-align:center;
	font-family:"楷体";
	font-size:1.3vw;
	padding:0.69vw 0 0.69vw 0;
}

.poem_content
{
	min-width:16vw;
	height:90%;
	text-align:center;
	font-family:"仿宋";
	font-size:1vw;
	font-weight:bold;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

#photo_main
{
	background-color:rgba(245, 245, 245, 0.8);
	display:flex;
	align-items:center;
}

.photoshop
{
	max-width:44vw;
	padding:0.69vw;
	border-style:solid;
	border-width:0.34vw;
	border-color:#9966CC;
	border-radius:1.35vw;
	margin:0.69vw 13.85vw 0.69vw 13.85vw;
}

.photo_info
{
	text-align:center;
	color:#FEFEFA;
	font-family:"楷体";
	font-size:1.35vw;
	background-color:#FFBF00;
	width:30%;
}

#music_main
{
	background-color:rgba(245, 245, 245, 0.8);
}

#music_upper
{
	height:80%;
	width:100%;
	display:flex;
	align-items:center;
	margin:1.35vw 0 1.35vw 0;
}

#music_info
{
	height:36vw;
	width:50%;
	display:flex;
	float:left;
	align-items:center;
	flex-direction:column;	
	justify-content:space-evenly;
}

#music_title
{
	text-align:center;
	font-family:"黑体";
	padding:1vw 0 1vw 0;
}

#singer, #lyric_author, #music_author, #orchestration_author, #mixing_author
{
	text-align:center;
	font-family:"黑体";
	padding:1.35vw 0 1.35vw 0;
}

#music_lyric
{
	height:36vw;
	width:50%;
	display:flex;
	align-items:center;
	flex-direction:column;
	border-style:solid;
	border-color:#9966CC;
	border-width:0 0 0 0.69vw;
}

.lyric_content
{
	min-width:15.8vw;
	height:100%;
	text-align:center;
	font-family:"仿宋";
	font-size:1.11vw;
	font-weight:bold;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}

#music_lower
{
	height:20%;
	width:100%;
	display:flex;
	align-items:center;
	flex-direction:column;
	margin:1.35vw 0 1.35vw 0;
}

#playbar
{
	width:80%;
	align-items:center;
	display:flex;
	position:relative;
	margin:0.69vw 0 1.35vw 0;
}

#playbarback
{
	height:0.34vw;
	width:100%;
	background-color:#BBBBBB;
	border-radius:0.17vw;
}

#playbarnow
{
	height:0.34vw;
	width:0;
	position:absolute;
	background-color:#008B8B;
	background-position-x:left;
	border-radius:0.17vw;
}

#playanchor
{
	height:2.08vw;
	width:2.08vw;
	position:absolute;
	left:-1vw;
	top:-1vw;
}

#playtool
{
	width:80%;
	display:flex;
	position:relative;
	align-items:center;
}

#playtool_left
{
	width:10%;
	display:flex;
	align-items:left;
}

#playtool_middle
{
	width:80%;
	display:flex;
	align-items:center;
	justify-content:center;
}

#playtool_right
{
	width:10%;
	display:flex;
	justify-content:center;
}

#letter_main
{
	background-color:rgba(245, 245, 245, 0.8);
	width:80%;
}

#letter_content
{
	font-family:"方正硬笔楷书简体";
	font-size:1.5vw;
	font-weight:600;
	text-align:justify;
	margin:0 3.4vw 0 3.4vw;
	line-height:2;
	border-bottom:solid 0.69vw #9966CC;
}

#calling
{
	font-family:"华文行楷";
	font-size:2.2vw;
	line-height:1.5;
}

#letter_name,#letter_date
{
	text-align:right;
}

#letter_handwriting
{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	margin:3.4vw 0 3.4vw 0;
}
	

#pagefoot
{
	height:3.4vw;
	width:100%;
	background-color:#00BFFF;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:space-around;
	border-radius:1.35vw 1.35vw 0 0;
	font-family:"Times New Roman";
}