*
{
	margin:0;
	padding:0;
}

body
{
	background-image:url('../img/carrot_background.svg');
	background-size:150px 150px;
}

#menu
{
	background-color:#FFFFFF;
	width:100%;
	position:fixed;
	display:flex;
	justify-content:space-between;
	border-bottom:2px solid #DDDDDD;
}

#menu-left
{
	width:auto;
	display:flex;
}

#logo-link
{
	color:#000000;
	text-decoration:none;
	display:flex;
	width:auto;
}

#logo-title
{
	display:flex;
	align-items:center;
	vertical-align:middle;
	font-family:"楷体";
	text-shadow:2px 2px 2px #BBBBBB;
	padding:0 10px 0 10px;
	border-right:solid 2px #BBBBBB;
	margin:0 10px 0 0;
}

#logo-img
{
	width:50px;
	height:50px;
	padding:0 10px 0 0;
}

.menu-list
{
	padding:0 20px 0 20px;
	border-style:solid;
	border-color:#ED9121;
	border-radius:25px;
	margin:2px 8px 2px 8px;
	font-size:16px;
	color:#000000;
	font-family:"微软雅黑";
	font-weight:600;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	text-decoration:none;
}

.menu-list:hover,.menu-list:active
{
	background-color:#EEEEEE;
}

#menu-middle
{
	width:auto;
	display:flex;
	align-items:center;
}

#playbuttons
{
	margin:0 10px 0 5px;
	display:flex;
}

#playpause, #previous, #next
{
	vertical-align:middle;
}

#playbar
{
	width:60%;
	min-width:150px;
	align-items:center;
	display:flex;
	position:relative;
}

#playbarback
{
	height:3px;
	width:100%;
	background-color:#CCCCCC;
	border-radius:1.5px;
}

#playbarnow
{
	height:3px;
	width:0;
	position:absolute;
	background-color:#007FFF;
	background-position-x:left;
	border-radius:1.5px;
}

#playanchor
{
	height:30px;
	width:30px;
	position:absolute;
	left:-15px;
	top:-15px;
}

#songtime
{
	display:flex;
	font-size:8px;
	color:#888888;
	vertical-align:middle;
}

#currenttime
{
	margin-left:5px;
	color:#000000;
}

#totaltime
{
	margin-right:5px;
}

#songinfo
{
	white-space:nowrap;
	overflow:hidden;
	width:100px;
	align-items:center;
	text-align:center;
	font-size:10px;
	margin:0 5px 0 10px;
}

#songtitle, #singer, #album
{
	display:inline-block;
}

#menu-right
{
	width:auto;
	font-family:"Times New Roman";
	font-size:10px;
	font-weight:bold;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	padding:0 10px 0 10px;
	margin:0 10px 0 10px;
	border-left:2px dashed #AAAAAA;
	border-right:2px dashed #AAAAAA;
}

#datetime
{
	color:#000000;
	text-decoration:none;
}

#background
{
	background-color:rgba(255,255,255,0.8);
	height:100%;
	width:100%;
}

#main
{
	min-height:500px;
	padding-top:100px;
	padding-bottom:50px;
}

#welcome
{
	display:flex;
	align-items:center;
	width:100%;
	flex-direction:column;
}

#welchi
{
	text-align:center;
	width:80%;
	font-family:"华文行楷";
	font-size:60px;
	text-shadow:5px 5px 5px #BBBBBB;
	padding:50px 0 0 0;
	border-top:solid 3px #BBBBBB;
	margin:20px 0 0 0;
}

#weleng
{
	text-align:center;
	width:80%;
	font-family:"Consolas";
	text-shadow:5px 5px 5px #BBBBBB;
	margin:0 0 20px 0;
	border-bottom:solid 3px #BBBBBB;
	padding:0 0 50px 0;
}

#pagefoot
{
	background-color:#003262;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	width:100%;
	height:200px;
	display:flex;
	flex-direction:column-reverse;
}

#copyright
{
	background-color:#EEEEEE;
	text-align:center;
	font-size:12px;
	font-weight:bold;
}
